@import '../../variables.scss';

.container {
  margin: 0 auto;
  padding: 40px 0;
  max-width: var(--max-content-width);
}

.root {
  padding: 16px 8px;
}

.toolbar {
  padding-right: 16px;
}

.title {
  flex-grow: 1;
}
