.console {
  font-family: 'Consolas', monospace;
  font-size: large;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}

.output {
  display: block;
  flex: 1 0 auto;
  overflow: auto;
}

.consoleInput {
  flex-grow: 1;
  width: 100%;
}

.fixed {
  /*
  left: 214px;
  bottom: 0;
  position: fixed;
  */
  font-family: 'Consolas', monospace;
  font-size: large;
  z-index: 100;
}

.inputText {
  color: #007c3c;
}
