.console {
  font-family: 'Consolas', monospace;
  font-size: large;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}

.output {
  display: block;
  flex: 1 0 auto;
}

.consoleInput {
  flex-grow: 1;
  width: 100%;
}

.textOutput[textColor=green] {
  word-wrap: break-word;
  color: green;
}

.textOutput[textColor=red] {
  word-wrap: break-word;
  color: red;
}

.textOutput[textColor=black] {
  word-wrap: break-word;
  color: black;
}

.consoleInput input {
  width: 100%;
  font-family: 'Consolas', monospace;
  font-size: large;
  border: none;
}

.fixed {
  /*
  left: 214px;
  bottom: 0;
  position: fixed;
  */
  font-family: 'Consolas', monospace;
  font-size: large;
  z-index: 100;
}

.inputText {
  color: #007c3c;
}
