.console {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}

.output {
  display: block;
  flex: 1 0 auto;
}

.consoleInput {
  flex-grow: 1;
  width: 100%;
}

.textOutput {
  margin: 0;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-size: 19px;
}

.textOutput[textColor=green] {
  color: green;
}

.textOutput[textColor=red] {
  color: red;
}

.textOutput[textColor=black] {
  color: black;
}

.consoleInput input {
  width: 100%;
  font-family: monospace;
  font-size: 19px;
  border: none;
}

.fixed {
  font-family: monospace;
  font-size: 19px;
  z-index: 100;
}

.inputText {
  color: #007c3c;
}
