.console {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}

.output {
  display: block;
  flex: 1 0 auto;
}

.consoleInput {
  flex-grow: 1;
  width: 100%;

  input {
    width: 100%;
    font-family: monospace;
    font-size: 19px;
    border: none;
  }
}

.textOutput {
  margin: 0;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-size: 19px;

  &.stdin {
    color: green;
  }

  &.stdout {
    color: black;
  }

  &.stderr {
    color: red;
  }
}

.fixed {
  font-family: monospace;
  font-size: 19px;
  z-index: 100;
}

.inputText {
  color: #007c3c;
}
